.navBar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 68px;

  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);

  transition: all 0.3s ease;
}

.logo {
  width: 120px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.avatar {
  width: 38px;
  height: 38px;

  border-radius: 4px;
  object-fit: cover;

  cursor: pointer;

  transition: transform 0.2s ease;
}

.avatar:hover {
  transform: scale(1.05);
}

/* Tablet */
@media (max-width: 768px) {
  .navBar {
    height: 60px;
    padding: 0 20px;
  }

  .logo {
    width: 95px;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .navBar {
    height: 55px;
    padding: 0 12px;
  }

  .logo {
    width: 75px;
  }

  .avatar {
    width: 28px;
    height: 28px;
  }
}

/* Very Small Devices */
@media (max-width: 320px) {
  .logo {
    width: 65px;
  }

  .avatar {
    width: 24px;
    height: 24px;
  }
}




.rightSection {
  display: flex;
  align-items: center;
  gap: 18px;
}

.savedIcon {
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

.savedIcon:hover {
  transform: scale(1.1);
  color: #e50914;
}